= card name: 'recipe', 'data-day' => recipe.day do
  %center.row.card-img-container.carousel
    %img.card-img{src: recipe.photo.preview }
    .carousel-caption
      .row
        .col-xs-6.col-xs-offset-1
          %strong день #{human_day(recipe.day)}
      .row
        %hgroup.col-xs-7.col-xs-offset-1
          %h4= recipe.title
          %h5= recipe.subtitle
        %section.col-xs-4
          .row
            .col-xs-12.text-nowrap
              %i.fa.fa-fw.fa-clock-o
              %small #{recipe.cooking_time} мин.
          .row
            .col-xs-12.text-nowrap
              %i.fa.fa-fw.fa-cutlery
              %small #{recipe.serving_size}
  .card-description.col-xs-11.col-xs-offset-1
    .row
      .col-xs-12.col-sm-7
        %strong Для приготовления понадобится:
      .col-xs-12.col-sm-5.text-center
        - recipe.inventory_items.each do |ii|
          = inventory_item_tag ii
  .card-footer
    .row
      %a.btn.text-primary{href: recipe_path(recipe),
        title: "#{recipe.title} #{recipe.subtitle}" }
        ПОДРОБНЕЕ
      %a.btn.text-primary{href: '',
        data: { toggle: 'modal', target: '#picture_modal', picture: recipe.picture.full },
        title: "#{recipe.title} #{recipe.subtitle} - показать рецепт" }
        РЕЦЕПТ
