.jumbotron#hero
  %center
    = image_tag 'logo.svg', class: 'icon'
.jumbotron#order
  = form_tag 'orders#new', class: 'material form-inline jt' do
    .row.text-nowrap.lead
      %center.col-xs-12
        Продукты для
        %span.form-group.no-title
          = select_tag 'count', options_for_select([5, 3], 5), placeholder: 'количество'
        ужинов на двоих с доставкой в воскресенье,
        %span#d_date>= next_sunday
    .row
      %center.col-xs-12.jt
        %a.btn.btn-primary.btn-lg.jb(href="#") Заказать 
.jumbotron#menu
  %center
    %h1.jt МЕНЮ НА НЕДЕЛЮ
    %h2.jt
      %span#bow= next_week_begin
      &mdash;
      %span#eow= next_week_end
  %br/
  .row
    .col-xs-12.col-xs-offset-0.col-sm-6.col-sm-offset-3.col-md-12.col-md-offset-0.col-lg-10.col-lg-offset-1
      %center.col-md-4.col-xs-12
        = card do
          = card_image 'meal-1.jpg'
          .card-heading
            %h2 Рис с курицей
            %h3 По-особенному
          .card-description.col-xs-11.col-xs-offset-1
            .row
              .col-xs-7 Время приготовления:
              .col-xs-5 35 минут
            .row
              .col-xs-7 Калорийность:
              .col-xs-5 425 ккал
            .row
              .col-xs-7
                Для приготовления понадобится:
              .col-xs-5
                = image_tag 'aids/pot.svg', class: 'icon'
                = image_tag 'aids/pan.svg', class: 'icon'
                = image_tag 'aids/knife.svg', class: 'icon'
                = image_tag 'aids/plates.svg', class: 'icon'
      %center.col-md-4.col-xs-12
        = card do
          = card_image 'meal-2.jpg'
          .card-heading
            %h2 Тако с рыбой
          .card-description.col-xs-11.col-xs-offset-1
            .row
              .col-xs-7 Время приготовления:
              .col-xs-5 35 минут
            .row
              .col-xs-7 Калорийность:
              .col-xs-5 425 ккал
            .row
              .col-xs-7
                Для приготовления понадобится:
              .col-xs-5
                = image_tag 'aids/knife.svg', class: 'icon'
                = image_tag 'aids/plates.svg', class: 'icon'
      %center.col-md-4.col-sm-12
        = card do
          = card_image 'meal-3.jpg'
          .card-heading
            %h2 Кесадилья с креветками
          .card-description.col-xs-11.col-xs-offset-1
            .row
              .col-xs-7 Время приготовления:
              .col-xs-5 35 минут
            .row
              .col-xs-7 Калорийность:
              .col-xs-5 425 ккал
            .row
              .col-xs-7
                Для приготовления понадобится:
              .col-xs-5
                = image_tag 'aids/knife.svg', class: 'icon'
                = image_tag 'aids/plates.svg', class: 'icon'
  %br/
  .row
    .col-lg-10.col-lg-offset-1.col-md-12.col-md-offset-0.col-sm-6.col-sm-offset-3.col-xs-12.col-xs-offset-0
      %center.col-md-4.col-md-offset-2.col-sm-12.col-sm-offset-0
        = card do
          = card_image 'meal-4.jpg'
          .card-heading
            %h2 Фетучини с говядиной
            %h3 с соусом карри и чесночными гренками
          .card-description.col-xs-11.col-xs-offset-1
            .row
              .col-xs-7 Время приготовления:
              .col-xs-5 35 минут
            .row
              .col-xs-7 Калорийность:
              .col-xs-5 425 ккал
            .row
              .col-xs-7
                Для приготовления понадобится:
              .col-xs-5
                = image_tag 'aids/pot.svg', class: 'icon'
                = image_tag 'aids/pan.svg', class: 'icon'
                = image_tag 'aids/knife.svg', class: 'icon'
                = image_tag 'aids/plates.svg', class: 'icon'
      %center.col-md-4.col-xs-12
        = card do
          = card_image 'meal-5.jpg'
          .card-heading
            %h2 Тако по-корейски
          .card-description.col-xs-11.col-xs-offset-1
            .row
              .col-xs-7 Время приготовления:
              .col-xs-5 35 минут
            .row
              .col-xs-7 Калорийность:
              .col-xs-5 425 ккал
            .row
              .col-xs-7
                Для приготовления понадобится:
              .col-xs-5
                = image_tag 'aids/knife.svg', class: 'icon'
                = image_tag 'aids/plates.svg', class: 'icon'
.jumbotron#how
  %center.jt
    %h1 КАК ЭТО РАБОТАЕТ?

  %section.jt.lead
    %h2 ЗАКАЗЫВАЕТЕ
    При заказе с понедельника по пятницу
    в воскресенье вы получаете коробку с рецептами
    и продуктами на следующую неделю.

  %section.jt.lead
    %h2 В КАЖДОЙ КОРОБКЕ
    Три или пять наборов свежих продуктов для ужина на каждый день.

    Для сохранения свежести продуктов используется специальная упаковка.

  %section.jt.lead
    %h2 В НАБОРЕ
    Всё для приготовления блюда на двоих:
    свежие продукты, приправы и специи в точно рассчитанных количествах,
    а так же красочный и подробный рецепт, который подойдет как опытным кулинарам,
    так и начинающим.

  %center.jt
    %span.lead Вот так просто.
    %br/
    = link_to 'Заказать', '#', class: 'btn btn-primary btn-lg jb'
