.jumbotron#hero
  %center
    %br/
    = image_tag 'logo.svg', class: 'icon'
.jumbotron#order
  .row.lead
    %center.col-xs-12.jt
      %span.text-nowrap Продукты для
      = form_tag 'orders#new', class: 'material material-inverse form-inline jt' do
        %span.form-group.no-title#count
          = select_tag 'count', options_for_select([5, 3], 5), placeholder: 'количество'
      %span.text-nowrap ужинов на двоих
      %span.text-nowrap с доставкой в воскресенье,&nbsp;
      %span.text-nowrap#d_date>= next_sunday
    .row
      %center.col-xs-12.jt
        %a.btn.btn-primary.btn-lg.jb(href="#" data-toggle='modal' data-target='#order_modal') ЗАКАЗАТЬ 
    .row.text-center.text-inverse.small
      %br/
      %a{href:'#how'} как это работает?
.jumbotron#menu
  %center
    %h1.jt МЕНЮ НА НЕДЕЛЮ
    %h2.jt
      %span#bow= next_week_begin
      &mdash;
      %span#eow= next_week_end
  %br/
  - if @recipes.count == 5
    .row
      .col-xs-12.col-xs-offset-0.col-sm-6.col-sm-offset-3.col-md-12.col-md-offset-0.col-lg-10.col-lg-offset-1
        - @recipes.take(3).each do |recipe|
          %center.col-md-4.col-xs-12
            = render partial: 'recipe_card', locals: { recipe: recipe}
    %br/
    .row
      %center.col-xs-12#why_disabled{style: 'display:none'}
        %h3.text-muted Доступны при выборе 5 наборов
      .col-lg-10.col-lg-offset-1.col-md-12.col-md-offset-0.col-sm-6.col-sm-offset-3.col-xs-12.col-xs-offset-0
        %center.col-md-4.col-md-offset-2.col-sm-12.col-sm-offset-0
          = render partial: 'recipe_card', locals: { recipe: @recipes[3]}
        %center.col-md-4.col-md-offset-0.col-sm-12.col-sm-offset-0
          = render partial: 'recipe_card', locals: { recipe: @recipes[4]}
  - else
    .row#stub
      %center.col-xs-12
        %h3 В данный момент меню обновляется.
        %h4 Обновите страницу через пару минут.

.jumbotron#how
  %center.jt
    %h1 КАК ЭТО РАБОТАЕТ?

  %section.jt.lead
    %h2 ЗАКАЗЫВАЕТЕ
    При заказе с понедельника по пятницу
    в воскресенье вы получаете коробку с рецептами
    и продуктами на следующую неделю.

  %section.jt.lead
    %h2 В КАЖДОЙ КОРОБКЕ
    Три или пять наборов свежих продуктов для ужина на каждый день.

    Для сохранения свежести продуктов используется специальная упаковка.

  %section.jt.lead
    %h2 В НАБОРЕ
    Всё для приготовления блюда на двоих:
    свежие продукты, приправы и специи в точно рассчитанных количествах,
    а так же красочный и подробный рецепт, который подойдет как опытным кулинарам,
    так и начинающим.

  %center.jt
    %span.lead Вот так просто.
    %br/
    = link_to 'ЗАКАЗАТЬ', '', class: 'btn btn-primary btn-lg jb', data: { toggle: 'modal', target: '#order_modal' }

.jumbotron#subscribe
  %br/
  .row.lead
    .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.text-center
      %p Подписаться на еженедельную рассылку меню:
      = simple_form_for @subscription, remote: true, html: {class: 'form-inline material'} do |f|
        = f.input :email, label: false, placeholder: 'Эл. почта', input_html: { class: 'form-inline' }
        &nbsp;
        = f.submit 'ПОДПИСАТЬСЯ', class: 'btn btn-primary text-primary'
      %p.small.alert.alert-success#weekly_menu_subscription_created{style: 'display: none;'}
        Подписка оформлена!
      %p.nsmall.alert.alert-danger#weekly_menu_subscription_error{style: 'display: none;'}
  %br/

= javascript_include_tag 'landing.js'
= render partial: 'order_modal'
