= scope :service do
  .jumbotron#hero
    = prop :provider, type: :local_business do
      = prop name: 'HomeMade'
      .row
        %center.col-xs-12
          = image_tag 'logo.svg', class: 'hero-logo', itemprop: 'logo', itemtype: 'URL', alt: 'HomeMade Logo'
      .row
        %center.col-xs-12.col-md-8.col-md-offset-2.col-lg-4.col-lg-offset-4.hero-text
          %p= prop :description, "Мы производим и доставляем наборы высококачественных продуктов для быстрого и лёгкого приготовления ужинов дома."
          - if @recipes.count == 5
            %a.btn.btn-primary{href: '#menu'} ПОСМОТРЕТЬ МЕНЮ
          %a.btn.btn-flat{href: '#how'} КАК ВСЁ УСТРОЕНО
  .jumbotron#order
    .row.lead
      %center.col-xs-12.jt
        %span Закажите сейчас, и в воскресенье,&nbsp;
        %span#d_date>= next_sunday + ","
        %span &nbsp;к Вам приедет коробка с продуктами и рецептами блюд на следующую неделю.
    .row.lead
      %center.col-xs-12.jt
        Первым десяти заказавшим скидка <strong>20%</strong>!
    .row.lead
      %center.col-xs-12.jt
        - if @recipes.count == 5
          %a.btn.btn-primary.btn-lg.jb{href: "#", data: { toggle: 'modal', target: '#order_modal' } } ОФОРМИТЬ ЗАКАЗ 
        - else
          %a.btn.btn-primary.btn-lg.btn-disabled.jb{href: "#", disabled: true} ОФОРМИТЬ ЗАКАЗ
          %br/
          %small Нельзя ОФОРМИТЬ ЗАКАЗ: меню составляется
          %br/
    .row.text-center.text-inverse.small
      %a{href:'#how'} как всё устроено?
  = prop :has_offer_catalog, type: :offer_catalog, class: 'jumbotron', id: 'menu' do
    %center
      %h1.jt МЕНЮ НА НЕДЕЛЮ
      %h2.jt
        %span#bow= next_week_begin
        &mdash;
        %span#eow= next_week_end
      %br/
      .row.text-primary
        %ul.nav.nav-pills#toggle_count
          %li.active
            %a.btn{'data-value' => 5}
              = prop :item_list_element, type: :product do
                = prop :offers, type: :offer do
                  = prop name: 'Набор свежих продуктов'
                  = prop :eligible_quantity, type: :quantitative_value, tag: :span, class: 'nowrap' do
                    = prop :value, "5"
                    = prop :unitText, "ужинов"
                  = prop priceCurrency: 'RUB'
                  = prop price: '3500.00'
          %li
            %a.btn{'data-value' => 3}
              = prop :item_list_element, type: :product do
                = prop :offers, type: :offer do
                  = prop name: 'Набор свежих продуктов'
                  = prop :eligible_quantity, type: :quantitative_value, tag: :span, class: 'nowrap' do
                    = prop :value, "3"
                    = prop :unitText, "ужина"
                  = prop priceCurrency: 'RUB'
                  = prop price: '2500.00'
      %center.row.lead
        %br/
        - if Order.discount?
          %span#price_5(name="price" title="")
            %strike.text-muted
              %strong= price_for(5)
              %i.fa.fa-rub
            %br/
            %small.text-muted -20% первым 10 покупателям
            %br/
            %strong= price_with_discount_for(5)
            %i.fa.fa-rub
          %span#price_3.hidden(name="price")
            %strike.text-muted
              %strong= price_for(3)
              %i.fa.fa-rub
            %br/
            %small.text-muted -20% первым 10 покупателям
            %br/
            %strong= price_with_discount_for(3)
            %i.fa.fa-rub
        - else
          %span#price_5(name="price")
            %strong= price_for(5)
            %i.fa.fa-rub
          %span#price_3.hidden(name="price")
            %strong= price_for(3)
            %i.fa.fa-rub
    %br/
    - if @recipes.count == 5
      .row
        .col-xs-12.col-xs-offset-0.col-sm-6.col-sm-offset-3.col-md-12.col-md-offset-0.col-lg-10.col-lg-offset-1
          - @recipes.take(3).each do |recipe|
            %center.col-md-4.col-xs-12
              = render partial: 'recipe_card', locals: { recipe: recipe}
      %br/
      .row
        %center.col-xs-12#why_disabled{style: 'display:none'}
          %h3.text-muted Доступны при выборе 5 ужинов
        .col-lg-10.col-lg-offset-1.col-md-12.col-md-offset-0.col-sm-6.col-sm-offset-3.col-xs-12.col-xs-offset-0
          %center.col-md-4.col-md-offset-2.col-sm-12.col-sm-offset-0
            = render partial: 'recipe_card', locals: { recipe: @recipes[3]}
          %center.col-md-4.col-md-offset-0.col-sm-12.col-sm-offset-0
            = render partial: 'recipe_card', locals: { recipe: @recipes[4]}
      %center.row.lead
        %br/
        %a.btn.btn-primary.btn-lg.jb{href: "#", data: { toggle: 'modal', target: '#order_modal' } } ОФОРМИТЬ ЗАКАЗ 
        %br/
    - else
      .row#stub
        %center.col-xs-12
          %h3 В данный момент меню обновляется.
          %h4 Обновите страницу через пару минут.

  .jumbotron#how
    .row
      %center.jt
        %h1 КАК ВСЁ УСТРОЕНО?

    %br/
    .row
      .hidden-xs.col-sm-5.col-md-5.col-md-offset-1.col-lg-4.col-lg-offset-2
        %img.ig{srcset: "#{image_path('ig.svg')} 768w, #{image_path('no.svg')} 1w", sizes: '(max-width: 767px) 1px, (min-width: 768px) 768px, 100vw', src: image_path("ig.svg")}
      .col-xs-12.col-sm-6.col-md-6.col-md-offset-0.col-lg-4
        %section.row#how-choose(data-appear-top-offset="-400")
          .jt.lead.col-xs-12
            %hgroup.text-center.visible-xs-block
              %h4 ВЫБИРАЕТЕ
            Вы выбираете размер набора, который Вам больше подходит:
            %ul.dotted
              %li
                для приготовления <strong>пяти</strong> ужинов на двоих.
              %li
                для приготовления <strong>трёх</strong> ужинов на двоих.
            %br/
            %div
              Заказываете набор на сайте или <strong>с 9:00 до 21:00</strong> по телефону.
            %br/
            %div
              Продукты, заказанные до <strong>23:59 четверга</strong>, привезут в <strong>ближайшее воскресенье</strong>.
              Например, при заказе сегодня это #{next_sunday}.

        %section.row#how-receive
          .jt.lead.col-xs-12
            %hgroup.text-center.visible-xs-block
              %h4 ПОЛУЧАЕТЕ
            %div
              Наш оператор звонит Вам и подтверждает заказ.
            %br/
            %div
              = prop :area_served, type: :place do
                = prop address: 'Москва'
                = prop :description, "В воскресенье мы доставляем Ваш заказ в удобное для Вас время в пределах МКАД."
              <small>Доставка включена в стоимость набора.</small>
            %br/
            %div
              Вы убираете набор в холодильник.

        %section.row#how-cook
          .jt.lead.col-xs-12
            %hgroup.text-center.visible-xs-block
              %h4 ГОТОВИТЕ
            В наборе Вы найдёте:
            %ul.dotted
              %li
                Свежие <strong>продукты</strong>, подготовленные и упакованные
                для каждого ужина отдельно
              %li
                Подробные <strong>рецепты</strong>, разработанные профессионалами,
                благодаря которым Вы сможете быстро приготовить ужин как в
                ресторане всего за 20-40 минут.

    %br/
    .row
      .col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2
        %center.jt
          %br/
          - if @recipes.count == 5
            %a.btn.btn-primary.btn-lg.jb{href: "#", data: { toggle: 'modal', target: '#order_modal' } } ОФОРМИТЬ ЗАКАЗ 
          - else
            %a.btn.btn-primary.btn-lg.btn-disabled.jb{href: "#", disabled: true} ОФОРМИТЬ ЗАКАЗ
            %br/
            %small Нельзя оформить заказ: меню составляется. Попробуйте через пару минут.
            %br/
          %br/

    %br/
    .row
      .col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2.jt.text-center
        Если у Вас возникли вопросы, мы всегда с радостью ответим на них.


  - unless cookies[:weekly_menu_subscribed]
    .jumbotron#subscribe
      %br/
      .row.lead
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.text-center
          = render partial: 'weekly_menu_subscriptions/form'

  .jumbotron#social
    .row.lead.text-center
      %h2 Мы в соцсетях
    .row.lead
      .col-xs-12.text-center
        %a.btn.btn-primary(href="https://vk.com/club118150374")
          %i.fa.fa-lg.fa-fw.fa-vk
        %a.btn.btn-primary(href="https://instagram.com/homemade_msk")
          %i.fa.fa-lg.fa-fw.fa-instagram
        %a.btn.btn-primary(href="https://www.facebook.com/homemade.msk/")
          %i.fa.fa-lg.fa-fw.fa-facebook
    

= javascript_include_tag 'landing.js'
= javascript_include_tag 'weekly_menu_subscriptions.js'
= render partial: 'order_modal'
= render partial: 'unpaid_modal'
