= scope :service do
  = render partial: 'hero'
  = render partial: 'menu'
  = render partial: 'order'
  = render partial: 'pros'
  = render partial: 'how'
  = render partial: 'links'
  - unless cookies[:weekly_menu_subscribed]
    = render partial: 'subscribe'
  = render "social"

= javascript_include_tag 'landing.js'
= javascript_include_tag 'weekly_menu_subscriptions.js'
= render partial: 'order_modal'
= render partial: 'unpaid_modal'
