.jumbotron#hero
  .row
    %center.col-xs-12
      = image_tag 'logo.svg', class: 'hero-logo'
  .row
    %center.col-xs-12.col-md-8.col-md-offset-2.col-lg-4.col-lg-offset-4.hero-text
      %p Мы производим и доставляем наборы высококачественных продуктов для быстрого и лёгкого приготовления ужинов дома.
      - if @recipes.count == 5
        %a.btn.btn-primary{href: '#menu'} ПОСМОТРЕТЬ МЕНЮ
.jumbotron#order
  .row.lead
    %center.col-xs-12.jt
      %span Закажите сейчас, и в воскресенье,&nbsp;
      %span#d_date>= next_sunday + ","
      %span &nbsp;к Вам приедет коробка с продуктами и рецептами блюд на следующую неделю.
  .row.lead
    %center.col-xs-12.jt
      - if @recipes.count == 5
        %a.btn.btn-primary.btn-lg.jb{href: "#", data: { toggle: 'modal', target: '#order_modal' } } ОФОРМИТЬ ЗАКАЗ 
      - else
        %a.btn.btn-primary.btn-lg.btn-disabled.jb{href: "#", disabled: true} ОФОРМИТЬ ЗАКАЗ
        %br/
        %small Нельзя ОФОРМИТЬ ЗАКАЗ: меню составляется
        %br/
  .row.text-center.text-inverse.small
    %a{href:'#how'} как всё устроено?
.jumbotron#menu
  %center
    %h1.jt МЕНЮ НА НЕДЕЛЮ
    %h2.jt
      %span#bow= next_week_begin
      &mdash;
      %span#eow= next_week_end
    %br/
    .row.text-primary
      %ul.nav.nav-pills#toggle_count
        %li.active
          %a.btn{'data-value' => 5} 5 ужинов
        %li
          %a.btn{'data-value' => 3} 3 ужина
    %center.row.lead
      %br/
      %span#price_5(name="price")
        %strong 3500
        %i.fa.fa-rub
      %span#price_3.hidden(name="price")
        %strong 2500
        %i.fa.fa-rub
  %br/
  - if @recipes.count == 5
    .row
      .col-xs-12.col-xs-offset-0.col-sm-6.col-sm-offset-3.col-md-12.col-md-offset-0.col-lg-10.col-lg-offset-1
        - @recipes.take(3).each do |recipe|
          %center.col-md-4.col-xs-12
            = render partial: 'recipe_card', locals: { recipe: recipe}
    %br/
    .row
      %center.col-xs-12#why_disabled{style: 'display:none'}
        %h3.text-muted Доступны при выборе 5 ужинов
      .col-lg-10.col-lg-offset-1.col-md-12.col-md-offset-0.col-sm-6.col-sm-offset-3.col-xs-12.col-xs-offset-0
        %center.col-md-4.col-md-offset-2.col-sm-12.col-sm-offset-0
          = render partial: 'recipe_card', locals: { recipe: @recipes[3]}
        %center.col-md-4.col-md-offset-0.col-sm-12.col-sm-offset-0
          = render partial: 'recipe_card', locals: { recipe: @recipes[4]}
    %center.row.lead
      %br/
      %a.btn.btn-primary.btn-lg.jb{href: "#", data: { toggle: 'modal', target: '#order_modal' } } ОФОРМИТЬ ЗАКАЗ 
      %br/
  - else
    .row#stub
      %center.col-xs-12
        %h3 В данный момент меню обновляется.
        %h4 Обновите страницу через пару минут.

.jumbotron#how
  .row
    %center.jt
      %h1 КАК ВСЁ УСТРОЕНО?

  %br/
  .row
    .col-xs-12.col-xs-offset-0.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      %section.row
        .col-xs-5
          %img.img-responsive.pull-right{src: image_path("ig-choose.svg")}
        .jt.lead.col-xs-7
          Вы выбираете размер набора, который Вам больше подходит:
          %ul.list-unstyled
            %li
              %i.fa.fa-fw.fa-angle-right
              Набор для приготовления <strong>пяти</strong> ужинов на двух человек.
            %li
              %i.fa.fa-fw.fa-angle-right
              Набор для приготовления <strong>трёх</strong> ужинов на двух человек.

          Заказываете набор до <strong>23:00 четверга</strong> на сайте или по телефону.

      %section.row
        .col-xs-5
          %img.img-responsive.pull-left{src: image_path("ig-receive.svg")}
        .col-xs-6.jt.lead
          %ul.list-unstyled
            %li
              %i.fa.fa-fw.fa-angle-right
              Наш оператор звонит Вам и подтверждает заказ.
            %li
              %i.fa.fa-fw.fa-angle-right
              В воскресенье мы доставляем Ваш заказ в удобное для Вас время в пределах МКАД.
            %li
              %i.fa.fa-fw.fa-angle-right
              Вы убираете набор в холодильник.

      %section.row
        .col-xs-5
          %img.img-responsive.pull-right{src: image_path("ig-cook.svg")}
        .col-xs-7.jt.lead
          В наборе Вы найдёте:
          %ul.list-unstyled
            %li
              %i.fa.fa-fw.fa-angle-right
              Свежие <strong>продукты</strong>, подготовленные и упакованные
              для каждого ужина отдельно
            %li
              %i.fa.fa-fw.fa-angle-right
              Подробные <strong>рецепты</strong>, разработанные профессионалами,
              благодаря которым Вы сможете быстро приготовить ужин как в
              ресторане всего за 20-40 минут.

  %br/
  .row
    .col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2
      %center.jt
        %br/
        - if @recipes.count == 5
          %a.btn.btn-primary.btn-lg.jb{href: "#", data: { toggle: 'modal', target: '#order_modal' } } ОФОРМИТЬ ЗАКАЗ 
        - else
          %a.btn.btn-primary.btn-lg.btn-disabled.jb{href: "#", disabled: true} ОФОРМИТЬ ЗАКАЗ
          %br/
          %small Нельзя оформить заказ: меню составляется. Попробуйте через пару минут.
          %br/
        %br/

  %br/
  .row
    .col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2.jt.text-center
      Если у Вас возникли вопросы, мы всегда с радостью ответим на них.


.jumbotron#subscribe
  %br/
  .row.lead
    .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.text-center
      = render partial: 'weekly_menu_subscriptions/form'
      
  %br/

= javascript_include_tag 'landing.js'
= javascript_include_tag 'weekly_menu_subscriptions.js'
= render partial: 'order_modal'
