- if notice
  %p.alert.alert-success= I18n.t notice
- if alert
  %p.alert.alert-danger= I18n.t alert

= simple_form_for @recipe, html: { class: 'form-horizontal material' } do |f|
  = f.input :title
  = f.input :subtitle
  = f.input :calories
  = f.input :cooking_time
  = f.input :day, label: 'Назначить день',
    as: :select, collection: options_for_day,
    selected: 'нет', placeholder: 'День'
  = f.association :inventory_items, as: :check_boxes
  .form-group
    = f.label :photo
    = f.input :photo, wrapper: false
  .form-group
    = f.label :picture
    = f.input :picture, wrapper: false
  = f.submit 'Готово', class: 'btn btn-primary btn-lg'
