- if admin? and (alert or notice)
  .row 
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert

.row#recipes_show
  = scope :recipe do
    = prop name: "#{@recipe.title} #{@recipe.subtitle}"
    = prop in_language: 'Russian'
    = prop recipe_yield: "2―4 порции"
    = prop source_organization: 'HomeMade'
    = prop publisher: 'HomeMade'
    = prop date_published: @recipe.created_at.iso8601
    = prop url: recipe_url(@recipe)
    .col-xs-12.col-lg-9.col-lg-offset-1
      .row
        .col-xs-12.col-sm-7
          %img.img-responsive{src: @recipe.photo.show, itemprop: 'image', itemtype: 'http://schema.org/URL'}
        .col-xs-12.col-sm-5.no-gutter
          .row
            .col-xs-12.bg-primary
              .row
                %hgroup.col-xs-9.col-sm-9.col-xs-offset-2.col-sm-offset-1#recipe_heading
                  %h1
                    = prop :alternate_name, @recipe.title
                  %h2= @recipe.subtitle
                - if admin?
                  %center.col-md-1.col-sm-12.text-inverse
                    %br/
                    %a.btn{href: recipes_path, title: 'Архив рецептов'}
                      %i.fa.fa-fw.fa-lg.fa-list
                    %a.btn{href: edit_recipe_path(@recipe), title: 'Редактировать'}
                      %i.fa.fa-fw.fa-lg.fa-edit
                    %a.btn{href: recipe_path(@recipe), title: 'Удалить', data: { method: :delete, confirm: 'Удалить рецепт?'}}
                      %i.fa.fa-fw.fa-lg.fa-times
              %br/
              .row.lead
                .col-xs-12
                  %center.col-xs-6.text-nowrap.text-condensed{ title: "Время приготовления: #{@recipe.cooking_time} мин."}
                    %i.fa.fa-fw.fa-clock-o
                    #{@recipe.cooking_time} мин.
                    = prop cook_time: "PT#{@recipe.cooking_time}M"
                  %center.col-xs-6.text-condensed.text-nowrap{ title: "Размер порции на одну персону: #{@recipe.serving_size}"}
                    %i.fa.fa-fw.fa-cutlery
                    = prop :nutrition, type: :nutrition_information, tag: :span do
                      = prop :serving_size, @recipe.serving_size
                      %br/
                      %small (на человека)
          .row
            .col-xs-12.col-sm-11.col-sm-offset-1
              %section.row
                .col-xs-10.col-xs-offset-1.col-sm-11.col-sm-offset-0
                  %h3 Для приготовления понадобится
                  %div
                    - @recipe.inventory_items.each_slice(2) do |iis|
                      .row
                        - iis.compact.each do |ii|
                          .col-xs-6
                            = inventory_item_tag(ii, height: '22px')
                            %span &nbsp;&nbsp;#{ii.name}
                        %br/
                        %br/
              %br
              %section.row
                .col-xs-12.text-center-xs
                  %button.btn.btn-primary{ type: :button, data: { toggle: 'modal', target: '#picture_modal' }}
                    ПОКАЗАТЬ РЕЦЕПТ
%br/
.row#recipes_nav
  .col-xs-12.text-center
    - if @recipe.day
      %a.btn.btn-primary(href="/orders/new")= 'ОФОРМИТЬ ЗАКАЗ'
      %a.btn.btn-flat(href="/#menu")= 'ОБРАТНО В МЕНЮ'
    - else
      %p.lead Этого блюда нет актуальном меню.
      %a.btn.btn-flat(href="/#menu")= 'МЕНЮ НА ЭТУ НЕДЕЛЮ'
  = render partial: 'picture_modal'


- content_for :title, "#{@recipe.title} #{@recipe.subtitle} | HomeMade"
- content_for :meta_description, "Что нужно для приготовления и подробный рецепт."
