- if admin? and (alert or notice)
  .row 
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert
.row
  .col-xs-12.col-lg-9.col-lg-offset-1
    %br/
    %br/
    .row
      .col-xs-12.col-sm-7
        %img.img-responsive{src: @recipe.photo.url}
      .col-xs-12.col-sm-5.no-gutter
        .row
          .col-xs-12.bg-primary
            .col-xs-9.col-sm-10.col-xs-offset-2.col-sm-offset-1
              %h1= @recipe.title
              %h2= @recipe.subtitle
            - if admin?
              .col-xs-1.text-inverse
                %br/
                %a.btn.pull-right{href: edit_recipe_path(@recipe)}
                  %i.fa.fa-fw.fa-lg.fa-edit
                %a.btn.pull-right{href: recipe_path(@recipe), data: { method: :delete, confirm: 'Удалить рецепт?'}}
                  %i.fa.fa-fw.fa-lg.fa-trash
            %br/
            .row.lead
              %center.col-xs-5.col-xs-offset-1
                %i.fa.fa-fw.fa-clock-o
                #{@recipe.cooking_time} мин.
              %center.col-xs-5
                %i.fa.fa-fw.fa-fire
                #{@recipe.calories} ккал.
        .row
          .col-xs-11.col-xs-offset-1.col-sm-12.col-sm-offset-0
            %section
              %h3 Для приготовления понадобится
              %ul.list-inline.text-center
                - @recipe.inventory_items.each do |ii|
                  %li
                    = inventory_item_tag(ii)
