- if admin? and (alert or notice)
  .row 
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert
.row#recipes_show
  .col-xs-12.col-lg-9.col-lg-offset-1
    .row
      .col-xs-12.col-sm-7
        %img.img-responsive{src: @recipe.photo.show}
      .col-xs-12.col-sm-5.no-gutter
        .row
          .col-xs-12.bg-primary
            .row
              %hgroup.col-xs-9.col-sm-9.col-xs-offset-2.col-sm-offset-1#recipe_heading
                %h1= @recipe.title
                %h2= @recipe.subtitle
              - if admin?
                %center.col-md-1.col-sm-12.text-inverse
                  %br/
                  %a.btn{href: recipes_path, title: 'Архив рецептов'}
                    %i.fa.fa-fw.fa-lg.fa-list
                  %a.btn{href: edit_recipe_path(@recipe), title: 'Редактировать'}
                    %i.fa.fa-fw.fa-lg.fa-edit
                  %a.btn{href: recipe_path(@recipe), title: 'Удалить', data: { method: :delete, confirm: 'Удалить рецепт?'}}
                    %i.fa.fa-fw.fa-lg.fa-times
            %br/
            .row.lead
              %center.col-xs-5.col-xs-offset-1{ title: "Время приготовления: #{@recipe.cooking_time} мин."}
                %i.fa.fa-fw.fa-clock-o
                #{@recipe.cooking_time} мин.
              %center.col-xs-5{ title: "Размер порции на одну персону: #{@recipe.serving_size}"}
                %i.fa.fa-fw.fa-cutlery
                #{@recipe.serving_size}
        .row
          .col-xs-12.col-sm-11.col-sm-offset-1
            %section.row
              .col-xs-10.col-xs-offset-1.col-sm-11.col-sm-offset-0
                %h3 Для приготовления понадобится
                %div
                  - @recipe.inventory_items.each_slice(2) do |iis|
                    .row
                      - iis.compact.each do |ii|
                        .col-xs-6
                          = inventory_item_tag(ii, height: '22px')
                          %span &nbsp;&nbsp;#{ii.name}
                      %br/
                      %br/
            %br
            %section.row
              .col-xs-12.text-center-xs
                %button.btn.btn-primary{ type: :button, data: { toggle: 'modal', target: '#picture_modal' }}
                  ПОКАЗАТЬ РЕЦЕПТ
= render partial: 'picture_modal'


- content_for :title, "#{@recipe.title} #{@recipe.subtitle} | HomeMade"
- content_for :meta_description, "Что нужно для приготовления и подробный рецепт."
