.row
  .col-xs-10.col-xs-offset-1
    %h1 Изменить инструмент "#{@ii.name}"
.row
  .col-xs-10.col-xs-offset-1
    = simple_form_for @ii, html: { class: 'form-horizontal material'} do |f|
      = f.input :name
      = f.input :image
      = f.submit 'ИЗМЕНИТЬ', class: 'btn btn-primary'

