.row
  .col-lg-8.col-lg-offset-2
    %h1 Кухонные принадлежности
.row
  .col-lg-8.col-lg-offset-2
    %table.table
      %tr
        %th id
        %th SVG
        %th PNG
        %th form
      - @iis.each do |i|
        %tr
          %td= i.id
          %td
            %img{src: i.image.svg, width: "48px"}
          %td
            %img{src: i.image.png, width: "48px" }
          %td
            = simple_form_for i, html: { class: 'form-inline' } do |f|
              = f.input :name
              = f.input :filename
              = f.submit 'РЕД', class: 'btn btn-flat text-primary'
          %td
            %a.btn.btn-flat{href: inventory_item_path(i), data: { method: :delete, confirm: 'Delete item?'}}
              DEL
