.row
  - if alert 
    %center.row
      %p.alert.alert-danger= alert
= simple_form_for @order, html: { class: 'form-horizontal material', data: { order: @order.to_json } } do |f|

  .row
    .col-xs-2.text-center.form-icon
      %i.fa.fa-fw.fa-lg.fa-phone
    .col-xs-10
      = f.input :phone, default: '+7', input_html: { class: 'mask tel' }
  .row
    .col-xs-2.text-center.form-icon
      %i.fa.fa-fw.fa-lg.fa-user
    .col-xs-10
      = f.input :name
  .row
    .col-xs-2.text-center.form-icon
      %i.fa.fa-fw.fa-lg.fa-map-marker
    .col-xs-10
      = f.input :address
  .row
    .col-xs-2.text-center.form-icon
      %i.fa.fa-fw.fa-lg.fa-archive
    .col-xs-10.col-sm-7
      = f.input :count,
        as: :select, collection: options_for_count,
        placeholder: t('activerecord.attributes.order.count')
  .row
    .col-xs-2.text-center.form-icon
      %i.fa.fa-fw.fa-lg.fa-users
    .col-xs-10.col-sm-7
      = f.input :servings,
        as: :select, collection: options_for_servings,
        placeholder: t('activerecord.attributes.order.servings')
  .row
    .col-xs-2.text-center.form-icon
      %i.fa.fa-fw.fa-lg.fa-clock-o
    .col-xs-10.col-sm-7
      = f.input :interval,
        as: :select, collection: intervals,
        placeholder: t('activerecord.attributes.order.interval')
  .row
    .col-xs-2.text-center.form-icon
      %i.fa.fa-fw.fa-lg.fa-money
    .col-xs-10.col-sm-7
      = f.input :payment_method,
        as: :select, collection: payment_methods,
        placeholder: t('activerecord.attributes.order.payment_method')
  - if admin?
    .row
      .col-xs-10.col-xs-offset-1
        = f.input :by_phone, input_html: { checked: true }, label: 'совершён через телефонный звонок'
  - unless Order.can_create?
    %br/
    .col-xs-12.text-right
      %small.text-warning Заказы пока не принимаются
  .col-xs-12.text-right.lead
    %p(name="price")
      %strong(name)
        3500
        %i.fa.fa-fw.fa-rub
  .col-xs-12.text-right.lead
    .btn-group
      = f.submit 'ЗАКАЗАТЬ', class: 'btn btn-lg btn-flat text-primary' + (Order.can_create? ? '' : ' disabled')
= javascript_include_tag 'orders.js'
