%br
.row
  %center.col-xs-12
    .row
      .col-xs-2.col-xs-offset-5
        = image_tag 'logo.svg', class: 'img-responsive'
    .row.lead
      .col-xs-12
        .row
          %h2 Что-то пошло не так!
          .lead
            Возникли проблемы с оплатой Вашего заказа при помощи
            пластиковой карты.
        .row
          %center.col-xs-6.col-lg-3.col-lg-offset-3
            = render partial: 'yandex_kassa/form', locals: { submit: 'ЕЩЁ РАЗ' }

          %center.col-xs-6.col-lg-3
            = link_to 'ОТМЕНИТЬ ЗАКАЗ', cancel_order_path(@order), class: 'btn btn-flat text-primary'

        
    %br/
    %br/
    %center.row
      = link_to 'НА ГЛАВНУЮ', root_path, class: 'btn btn-primary'

= javascript_include_tag 'weekly_menu_subscriptions.js'
