.row
  .col-xs-8.col-xs-offset-2
    %h1 Заказы
.row
  .col-xs-9.col-xs-offset-1
    = form_tag orders_path, method: :get, class: 'form-inline material', id: 'query' do |f|
      %span.col-xs-3
        = select_tag 'status', 
          options_for_select(statuses, params[:status]),
          placeholder: "Статус"
      %span.col-xs-4
        = select_tag 'payment_method',
          options_for_select(payment_methods, params[:payment_method]),
          placeholder: "Способ оплаты"
      %span.col-xs-3
        = submit_tag "ПРИМЕНИТЬ ФИЛЬТР", class: 'btn btn-primary'
      %span.col-xs-2
        = link_to 'ОЧИСТИТЬ ФИЛЬТР', orders_path, class:  'btn btn-flat'
  .col-xs-2
    %br/
    %a.btn.btn-flat.text-success{href: orders_path(format: :xls, status: params[:status], payment_method: params[:payment_method])} EXCEL
.row
  .col-xs-12.col-xs-offset-0.col-lg-10.col-lg-offset-1
    %table.table.table-hover#orders
      %thead
        %tr
          %th(rowspan=2) №
          %th(rowspan=2)
          %th(rowspan=2) Создан
          %th(rowspan=2) Набор
          %th(rowspan=1 colspan=3) Заказчик
          %th(rowspan=2) Оплата
          %th(rowspan=2) Статус
          %th(rowspan=2 colspan=1) Доставить
          %th(rowspan=2) Управление
        %tr
          %th(rowspan=1) Телефон
          %th(rowspan=1) Имя
          %th(rowspan=1) Адрес

      %tbody
        - @orders.each do |ord|
          %tr.order{id: "order_#{ord.id}"}
            %td= ord.id
            %td
              - if ord.by_phone
                %i.fa.fa-phone.fa-fw.text-primary{title: 'Заказан по телефону'}
            %td.text-nowrap= date_format ord.created_at
            %td
              #{ord.count} на #{ord.servings}-x
              %br/
              за #{ord.price}
              - if ord.discount?
                %strong(title="Скидка") (%)
            %td.text-nowrap= phone_number ord.phone
            %td= ord.name
            %td= ord.address
            %td= t "activerecord.values.order.payment_method.#{ord.payment_method}"
            %td= t "activerecord.values.order.status.#{ord.status}"
            %td.text-nowrap #{next_sunday(ord.created_at)} в #{ord.interval}
            %td
              = link_to 'ЗАВЕРШИТЬ',
                close_order_path(ord),
                data: { confirm: "Завершить заказ №#{ord.id}?", method: :post},
                class: 'btn text-warning',
                disabled: !ord.can_close?
              = link_to 'ОТМЕНИТЬ',
                cancel_order_path(ord),
                data: { confirm: "Отменить заказ №#{ord.id}?", method: :post},
                class: 'btn text-danger',
                disabled: !ord.can_cancel?

    = will_paginate @orders, renderer: BootstrapPagination::Rails

= javascript_include_tag 'orders.js', async: true
- content_for(:title) { 'Заказы' }
