%br
.row
  %center.col-xs-12
    .row
      .col-xs-2.col-xs-offset-5
        = image_tag 'logo.svg', class: 'img-responsive'
    - if !@order || @order.payment_method == 'cash'
      = render partial: "thank_you"
    - if @order && @order.can_pay?
      = render partial: "proceed_to_payment"
    %br/
    .row.lead
      .col-xs-12
        = render partial: 'weekly_menu_subscriptions/form'
        
    %br/
    %center.row
      = link_to 'НА ГЛАВНУЮ', root_path, class: 'btn btn-primary'

= javascript_include_tag 'weekly_menu_subscriptions.js'
