%br
.row
  %center.col-xs-12
    .row
      .col-xs-2.col-xs-offset-5
        = image_tag 'logo.svg', class: 'img-responsive'
    .row
      %h1 Спасибо за Ваш заказ.
    %br/
    .row
      .lead
        В ближайшее время с Вами свяжутся для уточнения деталей доставки.
    %br/
    .row.lead
      .col-xs-12
        %p Подписаться на еженедельную рассылку меню:
        = simple_form_for @subscription, remote: true, html: {class: 'form-inline material'} do |f|
          = f.input :email, label: false, placeholder: 'Эл. почта', input_html: { class: 'form-inline' }
          &nbsp;
          = f.submit 'ПОДПИСАТЬСЯ', class: 'btn btn-primary text-primary'
        %p.small.alert.alert-success#weekly_menu_subscription_created{style: 'display: none;'}
          Подписка оформлена!
        %p.nsmall.alert.alert-danger#weekly_menu_subscription_error{style: 'display: none;'}
    %br/
    %center.row
      = link_to 'НА ГЛАВНУЮ', root_path, class: 'btn btn-primary'

= javascript_include_tag 'weekly_menu_subscriptions.js'
