.row
  .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
    %center.row
      %h1 Обратная связь
.row
  .col-xs-6.col-xs-offset-3
    .row
      - if alert 
        %center.row
          %p.alert.alert-danger= alert
    = simple_form_for @contact, html: { class: 'form-horizontal material' } do |f|
      .row
        .col-xs-2.text-center
          %br/
          %i.fa.fa-fw.fa-lg.fa-envelope
        .col-xs-6
          = f.input :email
      .row
        .col-xs-2.text-center
          %br/
          %i.fa.fa-fw.fa-lg.fa-tag
        .col-xs-6
          = f.input :topic
      .row
        .col-xs-2.text-center
          %br/
          %i.fa.fa-fw.fa-lg.fa-terminal
        .col-xs-10
          = f.input :text
      .row
        %center.col-xs-10.col-xs-offset-1
          = f.submit 'ГОТОВО', class: 'btn btn-lg btn-flat text-primary'
