.row
  .col-xs-12.col-lg-9.col-lg-offset-2
    %h1
      Сообщение
      %small от #{@contact.name} (#{@contact.email})
    %h2= @contact.topic

.row
  .col-xs-12.col-lg-7.col-lg-offset-2
    %pre= @contact.text
.row
  %center.col-xs-12.col-lg-9.col-lg-offset-1
    %a.btn.btn-flat.btn-lg.text-primary{href: "mailto:#{@contact.email}"} ОТВЕТИТЬ
