!!! 5
%html(lang="ru")
  %head
    %meta(charset='utf8')
  %body(style='font-family: Arial, sans-serif; font-family: Helvetica, sans-serif;')
    %table(width='960px' style="border-spacing: 0 50px;border-collapse: separate; border-color: transparent;")
      %tr
        %td(colspan=2 align='center')
          %a{href: root_url, title: 'HomeMade - Главная страница'}
            %img{src: image_url('logo.png')}
      %tr
        %td(colspan=2 align='center')
          %h1.jt МЕНЮ НА НЕДЕЛЮ
          %h2.jt
            %span#bow= next_week_begin
            &mdash;
            %span#eow= next_week_end
      - @recipes.each do |recipe|
        %tr
          %td(width='61%' style='vertical-align: top;overflow: hidden;padding: 0;margin: 0;')
            %img{src: image_url(recipe.photo.preview), width: '100%'}
          %td(width='39%' style="vertical-align: top;overflow: hidden;padding: 0;margin: 0;")
            %table(style="border-spacing: 0" width='100%' height='100%')
              %tr(height='130px')
                %td(style="vertical-align: top; height:100%;padding: 0;")
                  %div(style="width: 100%; height:100%; padding-left: 30px;padding-top: 5px;padding-bottom: 5px;background-color: #fa1211; color: white;")
                    %h2= recipe.title
                    %h3= recipe.subtitle
                    %p
                      %img{src: image_url('cutlery-o.png'), width: '18px'}
                      #{recipe.serving_size}
                      &nbsp; &nbsp; &nbsp;
                      %img{src: image_url('clock-o.png'), width: '18px'}
                      #{recipe.cooking_time} мин.

              %tr
                %td(style="background: transparent; vertical-align: top; padding-left: 10px;" width='100%' )
                  %h3 Для приготовления понадобится
                  %ul(style='list-style: none;line-height: 24px;')
                    - recipe.inventory_items.each do |ii|
                      %li
                        %img{src: (ii.image.png), width: '24px', style: 'vertical-align: bottom'}
                        = ii.name
      %tr
        %td(colspan=2 align='center')
          %br/
          %br/
          %a{href: new_order_url, title: 'Перейти на сайт для оформления заказа', style: 'color: white; font-weight: 600; font-size: 20px; background: #fa1211; padding: 5px; text-decoration: none;'} ОФОРМИТЬ ЗАКАЗ
          %br/
          %br/
    %table(width='960px' style="border-spacing: 0 30px;border-collapse: separate;")
      %tr
      %td(colspan=2 align='center')
        %br/
        %br/
        %small
          %a{href: unsubscribe_weekly_menu_subscription_url(@sub, format: :html, token: @sub.token)} Отписаться от рассылки меню

